<style>
    .container{width:100%;margin:auto}
    @media (min-width:600px) {.container{width: 80%;}}
    @media (min-width:768px) {.container{width: 60%;}}
    @media (min-width:1024px) {.container{width: 50%;}}
</style>

<div class="container">
<h1>NTU is a great university</h1>

<p><img src="https://www.bing.com/images/search?view=detailV2&ccid=b8JHMZPJ&id=8DA3669B4ACF05DD1B0D061E88228FED940F34EA&thid=OIP.b8JHMZPJlO24Lf4JVk1cpAHaE8&mediaurl=https%3a%2f%2fimg95.699pic.com%2fphoto%2f50162%2f1445.jpg_wh860.jpg&exph=574&expw=860&q=%e5%8d%97%e6%b4%8b%e7%90%86%e5%b7%a5%e5%a4%a7%e5%ad%a6jpg&simid=608039762005140014&FORM=IRPRST&ck=140FFBA5F6CC140EF9BDFCF742D265FF&selectedIndex=0&itb=0&ajaxhist=0&ajaxserp=0"
    width="300" height="200"></p>

<form action="/main" method="post">
    <input type = "submit" value="Main" style="width:200px;height:100px;">
</form>

<form action="/end" method="post">
    <input type = "submit" value="End" style="width:200px;height:100px;">
</form>

</div>
